*
{
  padding: 0;
  box-sizing: border-box;
}

.App
{
  max-height: 100vh;
  display: grid;
  grid-template-rows: repeat(10,1fr);
  grid-template-columns: repeat(3,1fr);
}

.Header
{
  grid-row : 1/2 ;
  grid-column: 1/-1;
}

.Temperature
{
  grid-row : 2/6 ;
  grid-column: 1/-1;
}

.Pha
{
  grid-row : 6/-1 ;
  grid-column: 1/-1;
}

@media screen and (max-width: 780px)
{
.App
{
  min-height: 300vh;
}

  .Header
{
  max-height: 80%;
  grid-row : 1/2 ;
  grid-column: 1/-1;
}

.Temperature
{
  grid-row : 2/6 ;
  grid-column: 1/-1;
  
}

.Pha
{
  grid-row : 6/-1 ;
  grid-column: 1/-1;
}
}